html, body {
  margin: 0;
  padding: 1rem;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: hsl(0, 0%, 98%);
}

footer {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  background-color: hsl(0, 0%, 98%);
}

